@model Lightnovel.Models.Response

@{
    ViewData["Title"] = "Delete Novel";
}

<h1 class="titleofpage">Delete Novel</h1>

<a asp-action="Index" class="btn btn-primary">Back to List</a>

<div class="statusCode">
    @if (Model.statusCode == 200)
    {
        <p id="okay">
            Status: @Html.DisplayFor(model => model.statusCode)
        </p>
    }
    else
    {
        <p id="notokay">
            Status: @Html.DisplayFor(model => model.statusCode)
        </p>
    }
</div>
<div class="statusDescript">
    <p>
        @Html.DisplayFor(model => model.statusDescription)
    </p>
</div>

<h3>Are you sure you want to delete this?</h3>

@foreach(var element in Model.novels)
{
    <div>
        <h4>@Html.DisplayFor(model => element.Title)</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => element.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => element.Title)
            </dd>
            <dt class = "col-sm-2">
                Original Language
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => element.OriginalLanguage)
            </dd>
            <dt class = "col-sm-2">
                Description
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => element.Blurb)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => element.Rating)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => element.Rating)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => element.Genre)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => element.Genre)
            </dd>
            <dt class = "col-sm-2">
                Book Status
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => element.TranslatedStatus)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => element.Link)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => element.Link)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => element.Creator)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => element.Creator.EnglishName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => element.Comic)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => element.Comic.Title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => element.Raw)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => element.Raw.Title)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="@element.NovelId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a asp-action="Edit" asp-route-id="@element.NovelId" class="btn btn-primary">Edit</a>
        </form>
    </div>
}
