@model Lightnovel.Models.Response

@{
    ViewData["Title"] = "All Novels";
}

<h1 class="titleofpage">All Lightnovels</h1>

<div class="statusCode">
    @if (Model.statusCode == 200)
    {
        <p id="okay">
            Status: @Html.DisplayFor(model => model.statusCode)
        </p>
    }
    else
    {
        <p id="notokay">
            Status: @Html.DisplayFor(model => model.statusCode)
        </p>
    }
</div>
<div class="statusDescript">
    <p>
        @Html.DisplayFor(model => model.statusDescription)
    </p>
</div>

<p>
    <a asp-action="Create" id="button">Create New Novel</a>
</p>

<p id="note">
    Please note: The entire information for each novel can be seen by clicking on "Details".
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Original Language
            </th>
            <th>
                Rating
            </th>
            <th>
                Genre
            </th>
            <th>
                Translated Status
            </th>
            <th>
                Author
            </th>
            <th>
                Comic
            </th>
            <th>
                Raw
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var element in Model.novels)
    {
        <tr>
            <td id="title">
                <a target="_blank" href="@Html.DisplayFor(modelItem => element.Link)">
                    @Html.DisplayFor(modelItem => element.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.OriginalLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.TranslatedStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.Creator.FullName)
            </td>
            <td id="comic">
                <a target="_blank" href="@Html.DisplayFor(modelItem => element.Comic.Link)">
                    Read
                <a/>
            </td>
            <td id="raw">
                <a target="_blank" href="@Html.DisplayFor(modelItem => element.Raw.Link)">
                    @Html.DisplayFor(modelItem => element.Raw.Title)
                <a/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@element.NovelId">Edit</a><br> 
                <a asp-action="Details" asp-route-id="@element.NovelId">Details</a><br>
                <a asp-action="Delete" asp-route-id="@element.NovelId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
